In [46]:
import pandas as pd
corp_info = pd.read_csv('corp.csv', header=0)
corp_info

,순위,종목코드,종목명,현재가,대비,등락률,거래량,거래대금,시가,고가,저가,시가총액,시가총액비중(%),상장주식수,외국인 보유주식수,외국인 지분율(%),총카운트
0,1,005930,삼성전자,"46,100","-1,050",-2.2,"6,854,965","317,650,411,250","46,800","47,050","46,000","275,206,975,555,000",17.49,"5,969,782,550",NaN,NaN,2405.0
1,2,000660,SK하이닉스,"77,000","-2,800",-3.5,"2,616,455","203,392,849,900","79,000","79,400","76,500","56,056,182,105,000",3.56,"728,002,365",NaN,NaN,NaN
2,3,005935,삼성전자우,"38,100",-500,-1.3,"823,913","31,399,459,992","38,600","38,600","37,900","31,351,983,270,000",1.99,"822,886,700",NaN,NaN,NaN
3,4,005380,현대차,"128,000","-2,500",-1.9,"464,277","59,477,099,500","130,000","131,000","126,500","27,349,527,936,000",1.74,"213,668,187",NaN,NaN,NaN
4,5,051910,LG화학,"333,000",0,0.0,"168,074","55,303,005,500","333,500","333,500","325,000","23,507,250,219,000",1.49,"70,592,343",NaN,NaN,NaN
5,6,012330,현대모비스,"242,500","-3,000",-1.2,"169,686","40,865,947,500","245,500","245,500","237,500","23,111,873,295,000",1.47,"95,306,694",NaN,NaN,NaN
6,7,068270,셀트리온,"179,000","-6,000",-3.2,"433,127","78,396,577,000","183,500","184,500","179,000","22,970,903,530,000",1.46,"128,329,070",NaN,NaN,NaN
7,8,035420,NAVER,"138,500","-2,500",-1.8,"583,604","80,883,355,500","139,500","141,000","137,000","22,826,655,207,500",1.45,"164,813,395",NaN,NaN,NaN
8,9,055550,신한지주,"43,900",250,0.6,"871,054","38,233,388,300","43,800","44,150","43,600","20,817,361,869,300",1.32,"474,199,587",NaN,NaN,NaN
9,10,005490,POSCO,"228,500","-4,000",-1.7,"194,010","44,631,084,000","233,000","233,000","228,500","19,922,191,797,500",1.27,"87,186,835",NaN,NaN,NaN
10,11,017670,SK텔레콤,"246,000",500,0.2,"121,033","29,804,367,500","247,500","249,000","244,000","19,863,444,906,000",1.26,"80,745,711",NaN,NaN,NaN
11,12,051900,LG생활건강,"1,240,000","16,000",1.3,"31,789","39,285,922,000","1,230,000","1,248,000","1,226,000","19,366,564,280,000",1.23,"15,618,197",NaN,NaN,NaN
12,13,105560,KB금융,"43,600",-200,-0.5,"630,292","27,480,484,000","43,950","44,100","43,400","18,229,663,013,200",1.16,"418,111,537",NaN,NaN,NaN
13,14,207940,삼성바이오로직스,"273,000","-2,500",-0.9,"83,126","22,733,567,000","273,000","278,000","271,000","18,063,045,000,000",1.15,"66,165,000",NaN,NaN,NaN
14,15,015760,한국전력,"27,950",350,1.3,"1,840,989","51,060,219,550","27,600","27,950","27,300","17,942,895,952,150",1.14,"641,964,077",NaN,NaN,NaN
15,16,028260,삼성물산,"92,300","-2,200",-2.3,"213,772","19,794,618,700","94,000","94,100","91,800","17,508,390,968,900",1.11,"189,690,043",NaN,NaN,NaN
16,17,000270,기아차,"42,850",-750,-1.7,"782,422","33,611,610,600","43,800","43,900","42,500","17,369,819,418,950",1.10,"405,363,347",NaN,NaN,NaN
17,18,018260,삼성에스디에스,"212,000","-3,500",-1.6,"66,628","14,254,540,000","215,500","219,000","212,000","16,404,093,600,000",1.04,"77,377,800",NaN,NaN,NaN
18,19,006400,삼성SDI,"229,000","-3,000",-1.3,"180,305","41,102,882,000","231,500","232,500","225,500","15,747,077,370,000",1.00,"68,764,530",NaN,NaN,NaN
19,20,096770,SK이노베이션,"169,000","-4,000",-2.3,"282,740","47,497,441,561","174,000","174,000","164,500","15,626,680,316,000",0.99,"92,465,564",NaN,NaN,NaN
20,21,034730,SK,"221,500","-3,000",-1.3,"71,878","15,921,621,000","224,500","224,500","219,500","15,584,805,785,500",0.99,"70,360,297",NaN,NaN,NaN
21,22,032830,삼성생명,"77,000",-800,-1.0,"221,890","17,015,807,000","77,700","78,200","76,000","15,400,000,000,000",0.98,"200,000,000",NaN,NaN,NaN
22,23,033780,KT&G,"96,800",0,0.0,"205,333","19,950,938,000","97,100","97,900","96,800","13,289,913,709,600",0.84,"137,292,497",NaN,NaN,NaN
23,24,003550,LG,"73,300",-800,-1.1,"138,814","10,159,491,100","73,700","74,300","72,200","12,648,437,702,300",0.80,"172,557,131",NaN,NaN,NaN
24,25,000810,삼성화재,"262,500",-500,-0.2,"64,363","16,805,742,750","262,500","263,500","258,000","12,435,894,712,500",0.79,"47,374,837",NaN,NaN,NaN
25,26,066570,LG전자,"68,600",0,0.0,"377,472","25,967,194,700","68,300","69,700","68,000","11,226,240,040,400",0.71,"163,647,814",NaN,NaN,NaN
26,27,035720,카카오,"129,000","-2,000",-1.5,"368,365","47,659,535,500","130,000","132,000","128,000","10,768,353,690,000",0.68,"83,475,610",NaN,NaN,NaN
27,28,036570,엔씨소프트,"485,000","-7,000",-1.4,"53,965","26,253,350,000","490,000","495,000","481,000","10,644,063,170,000",0.68,"21,946,522",NaN,NaN,NaN
28,29,086790,하나금융지주,"35,100",-250,-0.7,"926,666","32,582,323,800","35,350","35,500","34,900","10,538,496,376,200",0.67,"300,242,062",NaN,NaN,NaN
29,30,010950,S-Oil,"91,700","-1,300",-1.4,"276,318","25,198,697,800","92,900","92,900","90,300","10,323,842,026,400",0.66,"112,582,792",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,2376,002785,진흥기업우B,"5,190",-240,-4.4,"23,393","121,733,250","5,400","5,470","5,020","4,448,961,420",0.00,"857,218",NaN,NaN,NaN
2376,2377,005965,동부건설우,"19,250",350,1.8,"2,337","43,569,150","18,900","19,500","18,200","4,345,341,000",0.00,"225,732",NaN,NaN,NaN
2377,2378,099350,하나니켈2호,"1,305",-135,-9.4,"68,876","93,513,190","1,415","1,450","1,300","4,285,620,000",0.00,"3,284,000",NaN,NaN,NaN
2378,2379,001755,한양증권우,"8,090",-260,-3.1,"3,313","26,739,700","8,360","8,360","7,910","4,247,250,000",0.00,"525,000",NaN,NaN,NaN
2379,2380,245450,씨앤에스링크,"2,640",-460,-14.8,472,"1,252,540","3,100","3,100","2,640","4,171,094,400",0.00,"1,579,960",NaN,NaN,NaN
2380,2381,001065,JW중외제약우,"24,800",-950,-3.7,"1,199","29,888,500","25,300","26,000","24,650","4,150,900,000",0.00,"167,375",NaN,NaN,NaN
2381,2382,271850,다이오진,"1,375",-80,-5.5,"4,621","5,795,605","1,515","1,515","1,250","4,125,000,000",0.00,"3,000,000",NaN,NaN,NaN
2382,2383,000995,DB하이텍1우,"36,050","-1,250",-3.4,979,"34,877,750","37,000","37,000","34,600","4,048,991,800",0.00,"112,316",NaN,NaN,NaN
2383,2384,002787,진흥기업2우B,"13,500",-400,-2.9,"5,760","77,446,750","13,900","13,900","13,250","3,979,908,000",0.00,"294,808",NaN,NaN,NaN
2384,2385,084440,유비온,"1,300",0,0.0,10,"13,000","1,300","1,300","1,300","3,896,239,100",0.00,"2,997,107",NaN,NaN,NaN
2385,2386,000545,흥국화재우,"4,975",-95,-1.9,"2,249","11,100,205","5,230","5,230","4,800","3,820,800,000",0.00,"768,000",NaN,NaN,NaN
2386,2387,092590,럭스피아,517,-61,-10.6,15,"9,653",664,664,517,"3,769,497,666",0.00,"7,291,098",NaN,NaN,NaN
2387,2388,001067,JW중외제약2우B,"39,350",-600,-1.5,590,"23,487,150","39,950","41,400","39,250","3,454,536,500",0.00,"87,790",NaN,NaN,NaN
2388,2389,189350,코셋,835,-80,-8.7,"1,026","1,073,961","1,050","1,050",788,"3,340,000,000",0.00,"4,000,000",NaN,NaN,NaN
2389,2390,149940,모다,155,0,0.0,0,0,0,0,0,"3,279,863,395",0.00,"21,160,409",NaN,NaN,NaN
2390,2391,00781K,코리아써키트2우B,"4,100",-210,-4.9,439,"1,785,855","4,065","4,140","4,065","3,213,165,900",0.00,"783,699",NaN,NaN,NaN
2391,2392,000325,노루홀딩스우,"17,200",-800,-4.4,300,"5,202,350","18,400","18,400","17,200","3,186,300,000",0.00,"185,250",NaN,NaN,NaN
2392,2393,032685,소프트센우,"22,000",-150,-0.7,"1,417","31,284,200","22,150","23,500","21,650","3,142,854,000",0.00,"142,857",NaN,NaN,NaN
2393,2394,227420,포레스팅블록체인,399,-31,-7.2,2,798,399,399,399,"3,027,586,464",0.00,"7,587,936",NaN,NaN,NaN
2394,2395,001527,동양2우B,"9,810",-290,-2.9,683,"6,778,610","10,500","10,500","9,700","3,027,061,890",0.00,"308,569",NaN,NaN,NaN
2395,2396,000547,흥국화재2우B,"19,200","-1,650",-7.9,"1,082","21,402,850","20,850","20,850","19,200","2,949,120,000",0.00,"153,600",NaN,NaN,NaN
2396,2397,000227,유유제약2우B,"17,900",-400,-2.2,350,"6,340,400","18,000","19,050","17,900","2,937,032,000",0.00,"164,080",NaN,NaN,NaN
2397,2398,001799,대한제당3우B,"21,500","-1,600",-6.9,"1,415","31,142,150","23,200","23,200","21,500","2,787,604,000",0.00,"129,656",NaN,NaN,NaN
2398,2399,223220,아이피몬스터,256,0,0.0,0,0,0,0,0,"2,761,538,816",0.00,"10,787,261",NaN,NaN,NaN
2399,2400,208890,에듀파트너,"1,310",-220,-14.4,11,"15,310","1,400","1,400","1,310","2,607,974,200",0.00,"1,990,820",NaN,NaN,NaN
2400,2401,276240,엘리비젼,997,1,0.1,"1,123","1,120,472",854,"1,140",854,"2,579,438,400",0.00,"2,587,200",NaN,NaN,NaN
2401,2402,001529,동양3우B,"27,600",-950,-3.3,"1,889","52,265,350","28,150","29,000","27,200","2,476,327,200",0.00,"89,722",NaN,NaN,NaN
2402,2403,247300,인프라웨어테크놀러지,370,-36,-8.9,"2,860","1,058,200",370,370,370,"2,263,733,260",0.00,"6,118,198",NaN,NaN,NaN
2403,2404,224020,에스케이씨에스,830,-140,-14.4,"1,151","1,004,780",873,873,830,"2,241,000,000",0.00,"2,700,000",NaN,NaN,NaN
2404,2405,135270,세종머티리얼즈,104,0,0.0,0,0,0,0,0,"743,189,304",0.00,"7,146,051",NaN,NaN,NaN

In [47]:
corp_info = corp_info[['종목코드','종목명','현재가','상장주식수']]
corp_info["종목명"][:5]

0      삼성전자
1    SK하이닉스
2     삼성전자우
3       현대차
4      LG화학
Name: 종목명, dtype: object

In [55]:
corp_info['종목코드'] = 'A' + corp_info['종목코드'].astype(str)
corp_info

c:\users\hyunn\envs\stocklab\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

           종목코드         종목명        현재가          상장주식수
0     AAA005930        삼성전자     46,100  5,969,782,550
1     AAA000660      SK하이닉스     77,000    728,002,365
2     AAA005935       삼성전자우     38,100    822,886,700
3     AAA005380         현대차    128,000    213,668,187
4     AAA051910        LG화학    333,000     70,592,343
5     AAA012330       현대모비스    242,500     95,306,694
6     AAA068270        셀트리온    179,000    128,329,070
7     AAA035420       NAVER    138,500    164,813,395
8     AAA055550        신한지주     43,900    474,199,587
9     AAA005490       POSCO    228,500     87,186,835
10    AAA017670       SK텔레콤    246,000     80,745,711
11    AAA051900      LG생활건강  1,240,000     15,618,197
12    AAA105560        KB금융     43,600    418,111,537
13    AAA207940    삼성바이오로직스    273,000     66,165,000
14    AAA015760        한국전력     27,950    641,964,077
15    AAA028260        삼성물산     92,300    189,690,043
16    AAA000270         기아차     42,850    405,363,347
17    AAA018260     삼성에스디에스    212,000     77,377,800
18    AAA006400       삼성SDI    229,000     68,764,530
19    AAA096770     SK이노베이션    169,000     92,465,564
20    AAA034730          SK    221,500     70,360,297
21    AAA032830        삼성생명     77,000    200,000,000
22    AAA033780        KT&G     96,800    137,292,497
23    AAA003550          LG     73,300    172,557,131
24    AAA000810        삼성화재    262,500     47,374,837
25    AAA066570        LG전자     68,600    163,647,814
26    AAA035720         카카오    129,000     83,475,610
27    AAA036570       엔씨소프트    485,000     21,946,522
28    AAA086790      하나금융지주     35,100    300,242,062
29    AAA010950       S-Oil     91,700    112,582,792
...         ...         ...        ...            ...
2375  AAA002785      진흥기업우B      5,190        857,218
2376  AAA005965       동부건설우     19,250        225,732
2377  AAA099350      하나니켈2호      1,305      3,284,000
2378  AAA001755       한양증권우      8,090        525,000
2379  AAA245450      씨앤에스링크      2,640      1,579,960
2380  AAA001065     JW중외제약우     24,800        167,375
2381  AAA271850        다이오진      1,375      3,000,000
2382  AAA000995     DB하이텍1우     36,050        112,316
2383  AAA002787     진흥기업2우B     13,500        294,808
2384  AAA084440         유비온      1,300      2,997,107
2385  AAA000545       흥국화재우      4,975        768,000
2386  AAA092590        럭스피아        517      7,291,098
2387  AAA001067   JW중외제약2우B     39,350         87,790
2388  AAA189350          코셋        835      4,000,000
2389  AAA149940          모다        155     21,160,409
2390  AAA00781K   코리아써키트2우B      4,100        783,699
2391  AAA000325      노루홀딩스우     17,200        185,250
2392  AAA032685       소프트센우     22,000        142,857
2393  AAA227420    포레스팅블록체인        399      7,587,936
2394  AAA001527       동양2우B      9,810        308,569
2395  AAA000547     흥국화재2우B     19,200        153,600
2396  AAA000227     유유제약2우B     17,900        164,080
2397  AAA001799     대한제당3우B     21,500        129,656
2398  AAA223220      아이피몬스터        256     10,787,261
2399  AAA208890       에듀파트너      1,310      1,990,820
2400  AAA276240        엘리비젼        997      2,587,200
2401  AAA001529       동양3우B     27,600         89,722
2402  AAA247300  인프라웨어테크놀러지        370      6,118,198
2403  AAA224020     에스케이씨에스        830      2,700,000
2404  AAA135270     세종머티리얼즈        104      7,146,051

[2405 rows x 4 columns]

In [4]:
def double_data(value):
    return value*2
modified_data = corp_info.apply(double_data)
modified_data

,종목코드,종목명,현재가,상장주식수
0,A005930A005930,삼성전자삼성전자,"46,10046,100","5,969,782,5505,969,782,550"
1,A000660A000660,SK하이닉스SK하이닉스,"77,00077,000","728,002,365728,002,365"
2,A005935A005935,삼성전자우삼성전자우,"38,10038,100","822,886,700822,886,700"
3,A005380A005380,현대차현대차,"128,000128,000","213,668,187213,668,187"
4,A051910A051910,LG화학LG화학,"333,000333,000","70,592,34370,592,343"
5,A012330A012330,현대모비스현대모비스,"242,500242,500","95,306,69495,306,694"
6,A068270A068270,셀트리온셀트리온,"179,000179,000","128,329,070128,329,070"
7,A035420A035420,NAVERNAVER,"138,500138,500","164,813,395164,813,395"
8,A055550A055550,신한지주신한지주,"43,90043,900","474,199,587474,199,587"
9,A005490A005490,POSCOPOSCO,"228,500228,500","87,186,83587,186,835"
10,A017670A017670,SK텔레콤SK텔레콤,"246,000246,000","80,745,71180,745,711"
11,A051900A051900,LG생활건강LG생활건강,"1,240,0001,240,000","15,618,19715,618,197"
12,A105560A105560,KB금융KB금융,"43,60043,600","418,111,537418,111,537"
13,A207940A207940,삼성바이오로직스삼성바이오로직스,"273,000273,000","66,165,00066,165,000"
14,A015760A015760,한국전력한국전력,"27,95027,950","641,964,077641,964,077"
15,A028260A028260,삼성물산삼성물산,"92,30092,300","189,690,043189,690,043"
16,A000270A000270,기아차기아차,"42,85042,850","405,363,347405,363,347"
17,A018260A018260,삼성에스디에스삼성에스디에스,"212,000212,000","77,377,80077,377,800"
18,A006400A006400,삼성SDI삼성SDI,"229,000229,000","68,764,53068,764,530"
19,A096770A096770,SK이노베이션SK이노베이션,"169,000169,000","92,465,56492,465,564"
20,A034730A034730,SKSK,"221,500221,500","70,360,29770,360,297"
21,A032830A032830,삼성생명삼성생명,"77,00077,000","200,000,000200,000,000"
22,A033780A033780,KT&GKT&G,"96,80096,800","137,292,497137,292,497"
23,A003550A003550,LGLG,"73,30073,300","172,557,131172,557,131"
24,A000810A000810,삼성화재삼성화재,"262,500262,500","47,374,83747,374,837"
25,A066570A066570,LG전자LG전자,"68,60068,600","163,647,814163,647,814"
26,A035720A035720,카카오카카오,"129,000129,000","83,475,61083,475,610"
27,A036570A036570,엔씨소프트엔씨소프트,"485,000485,000","21,946,52221,946,522"
28,A086790A086790,하나금융지주하나금융지주,"35,10035,100","300,242,062300,242,062"
29,A010950A010950,S-OilS-Oil,"91,70091,700","112,582,792112,582,792"
...,...,...,...,...
2375,A002785A002785,진흥기업우B진흥기업우B,"5,1905,190","857,218857,218"
2376,A005965A005965,동부건설우동부건설우,"19,25019,250","225,732225,732"
2377,A099350A099350,하나니켈2호하나니켈2호,"1,3051,305","3,284,0003,284,000"
2378,A001755A001755,한양증권우한양증권우,"8,0908,090","525,000525,000"
2379,A245450A245450,씨앤에스링크씨앤에스링크,"2,6402,640","1,579,9601,579,960"
2380,A001065A001065,JW중외제약우JW중외제약우,"24,80024,800","167,375167,375"
2381,A271850A271850,다이오진다이오진,"1,3751,375","3,000,0003,000,000"
2382,A000995A000995,DB하이텍1우DB하이텍1우,"36,05036,050","112,316112,316"
2383,A002787A002787,진흥기업2우B진흥기업2우B,"13,50013,500","294,808294,808"
2384,A084440A084440,유비온유비온,"1,3001,300","2,997,1072,997,107"
2385,A000545A000545,흥국화재우흥국화재우,"4,9754,975","768,000768,000"
2386,A092590A092590,럭스피아럭스피아,517517,"7,291,0987,291,098"
2387,A001067A001067,JW중외제약2우BJW중외제약2우B,"39,35039,350","87,79087,790"
2388,A189350A189350,코셋코셋,835835,"4,000,0004,000,000"
2389,A149940A149940,모다모다,155155,"21,160,40921,160,409"
2390,A00781KA00781K,코리아써키트2우B코리아써키트2우B,"4,1004,100","783,699783,699"
2391,A000325A000325,노루홀딩스우노루홀딩스우,"17,20017,200","185,250185,250"
2392,A032685A032685,소프트센우소프트센우,"22,00022,000","142,857142,857"
2393,A227420A227420,포레스팅블록체인포레스팅블록체인,399399,"7,587,9367,587,936"
2394,A001527A001527,동양2우B동양2우B,"9,8109,810","308,569308,569"
2395,A000547A000547,흥국화재2우B흥국화재2우B,"19,20019,200","153,600153,600"
2396,A000227A000227,유유제약2우B유유제약2우B,"17,90017,900","164,080164,080"
2397,A001799A001799,대한제당3우B대한제당3우B,"21,50021,500","129,656129,656"
2398,A223220A223220,아이피몬스터아이피몬스터,256256,"10,787,26110,787,261"
2399,A208890A208890,에듀파트너에듀파트너,"1,3101,310","1,990,8201,990,820"
2400,A276240A276240,엘리비젼엘리비젼,997997,"2,587,2002,587,200"
2401,A001529A001529,동양3우B동양3우B,"27,60027,600","89,72289,722"
2402,A247300A247300,인프라웨어테크놀러지인프라웨어테크놀러지,370370,"6,118,1986,118,198"
2403,A224020A224020,에스케이씨에스에스케이씨에스,830830,"2,700,0002,700,000"
2404,A135270A135270,세종머티리얼즈세종머티리얼즈,104104,"7,146,0517,146,051"

In [25]:
corp_result = pd.read_excel('SAMPLE_2018.xlsx')
corp_result

,종목코드,회사명,당기순이익,유동자산,부채총계,매출총이익,자본총계,자산총계
0,A000020,동화약품,10068113000,227887463000,73198591000,115903237000,297400652000,370599243000
1,A000040,KR모터스,-24442080000,86949763000,85006462000,-631020000,69894605000,154901067000
2,A000050,경방,20189241000,120711492000,593023494000,107395818000,708769347000,1301792841000
3,A000060,메리츠화재,234721346000,0,18195561629000,0,2283200522000,20478762151000
4,A000070,삼양홀딩스,102512252000,1057235344000,1311855275000,482105988000,2001941981000,3313797255000
5,A000080,하이트진로,22272353000,1064966843000,2265764980000,761860402000,1162378535000,3428143515000
6,A000100,유한양행,58334962000,1110961783000,522077130000,413792024000,1651735504000,2173812633000
7,A000120,CJ대한통운,51800069000,2180844615000,4737828935000,828072934000,3138903155000,7876732089000
8,A000140,하이트진로홀딩스,8640980000,1083713642000,2893499586000,767141228000,1095786557000,3989286143000
9,A000150,두산,-340510995000,11585894166000,21735235429000,3323508790000,7145046191000,28880281620000
10,A000180,성창기업지주,-7933704000,85694716000,159282203000,17312092000,489378544000,648660747000
11,A000210,대림산업,678088774000,6366648561000,6783472630000,1420161607000,6050244102000,12833716732000
12,A000220,유유제약,4312110000,68869662000,48354059000,40636937000,86872256000,135226315000
13,A000230,일동홀딩스,-3831883000,54890858000,100522263000,20013961000,164946011000,265468274000
14,A000240,한국타이어월드와이드,218355604000,590386119000,262718282000,284108210000,3235872326000,3498590608000
15,A000250,삼천당제약,14592937000,142271889000,55394974000,83197927000,205763466000,261158440000
16,A000270,기아차,1155943000000,19711791000000,24543141000000,7992530000000,27243464000000,51786605000000
17,A000300,대유플러스,19120849000,250712765000,863495206000,73675381000,140608976000,1004104182000
18,A000320,노루홀딩스,2664076000,449147290000,425647066000,183192460000,561495276000,987142342000
19,A000370,한화손해보험,81759590000,0,15318315284000,0,1415552026000,16733867311000
20,A000390,삼화페인트,800759000,275185176000,276200374000,87345386000,281779106000,557979480000
21,A000400,롯데손해보험,91314265000,0,13651651397000,0,563337402000,14214988799000
22,A000430,대원강업,23857286000,352164240000,515047305000,114161257000,570720025000,1085767330000
23,A000440,중앙에너비스,889990000,4174206000,13480020000,12696157000,45263718000,58743738000
24,A000480,조선내화,57955243000,369512835000,336922588000,116768660000,693699617000,1030622205000
25,A000490,대동공업,1464262000,447800610000,555212961000,125048867000,217503766000,772716728000
26,A000500,가온전선,98902000,277829165000,266088415000,35493547000,260405860000,526494275000
27,A000520,삼일제약,-8562748000,59184330000,91865621000,34791021000,56082999000,147948619000
28,A000540,흥국화재,50441000000,0,11256838000000,0,682034000000,11938872000000
29,A000590,CS홀딩스,12641149000,188480772000,29665433000,28531036000,274752760000,304418193000
...,...,...,...,...,...,...,...,...
1979,A297570,IBKS제9호스팩,-756000,0,939793000,0,5267905000,6207699000
1980,A298000,효성화학,20394861000,438322896000,1286001139000,114602893000,367248241000,1653249379000
1981,A298020,효성티앤씨,31498303000,1428058179000,2651942914000,255765643000,486901345000,3138844259000
1982,A298040,효성중공업,1908746000,1492635018000,2527800474000,239206367000,904711079000,3432511553000
1983,A298050,효성첨단소재,-23744728000,1030997728000,2068681942000,182774224000,466015869000,2534697811000
1984,A298380,에이비엘바이오,-117234140000,161091085000,11906880000,1257884000,156962235000,168869115000
1985,A298690,에어부산,20294184000,105633987000,150402815000,65447298000,152296942000,302699757000
1986,A299170,IBKS제10호스팩,-25108000,0,1499562000,0,8332973000,9832536000
1987,A299660,셀리드,-11286321000,8239136000,720628000,0,13495505000,14216133000
1988,A300720,한일시멘트,53726823000,565218272000,499783148000,119349714000,868218023000,1368001171000
1989,A302430,이노메트리,5247720000,52774757000,11292993000,11012834000,48364402000,59657395000
1990,A303030,대신밸런스제5호스팩,-4049000,0,651846000,0,7758537000,8410382000
1991,A306200,세아제강,7030156000,479655614000,500666740000,32708406000,553451801000,1054118541000
1992,A306620,DB금융스팩6호,33000,0,1056050000,0,8797198000,9853248000
1993,A307070,SK4호스팩,-24500000,0,738660000,0,9116796000,9855456000
1994,A307160,하나머스트제6호스팩,-9884000,0,716747000,0,8216413000,8933159000
1995,A307180,신영스팩4호,-131025000,0,1230484000,0,8611395000,9841878000
1996,A307280,교보8호스팩,-28370000,0,1062020000,0,6774388000,7836408000
1997,A307750,대신밸런스제6호스팩,-26859000,0,710480000,0,9613697000,10324178000
1998,A307870,골든브릿지이안5호,-2987000,0,898008000,0,8839206000,9737214000
1999,A307950,현대오토에버,55228435000,689503604000,377482748000,145535428000,451588443000,829071191000
2000,A309930,삼성머스트스팩3호,-7758000,0,696723000,0,8272471000,8969194000
2001,A310200,미래에셋대우스팩2호,-11654000,0,1163795000,0,5804306000,6968101000
2002,A310840,엔에이치스팩13호,-10869000,0,1407776000,0,6475928000,7883704000
2003,A310870,한국제8호스팩,-7076000,0,529500000,0,6350131000,6879631000
2004,A311270,키움제5호스팩,-130749000,0,769275000,0,7103863000,7873138000
2005,A313750,유안타제4호스팩,-13122000,0,1103143000,0,685353000,1788497000
2006,A316140,우리금융지주,0,0,0,0,0,0
2007,A317030,케이비17호스팩,0,0,0,0,0,0
2008,A317320,한화에스비아이스팩,0,0,0,0,0,0

In [26]:
corp_result.columns

Index(['종목코드', '회사명', '당기순이익', '유동자산', '부채총계', '매출총이익', '자본총계', '자산총계'], dtype='object')

In [27]:
corp_data = corp_result[['종목코드', '당기순이익']]
corp_data

         종목코드          당기순이익
0     A000020    10068113000
1     A000040   -24442080000
2     A000050    20189241000
3     A000060   234721346000
4     A000070   102512252000
5     A000080    22272353000
6     A000100    58334962000
7     A000120    51800069000
8     A000140     8640980000
9     A000150  -340510995000
10    A000180    -7933704000
11    A000210   678088774000
12    A000220     4312110000
13    A000230    -3831883000
14    A000240   218355604000
15    A000250    14592937000
16    A000270  1155943000000
17    A000300    19120849000
18    A000320     2664076000
19    A000370    81759590000
20    A000390      800759000
21    A000400    91314265000
22    A000430    23857286000
23    A000440      889990000
24    A000480    57955243000
25    A000490     1464262000
26    A000500       98902000
27    A000520    -8562748000
28    A000540    50441000000
29    A000590    12641149000
...       ...            ...
1979  A297570        -756000
1980  A298000    20394861000
1981  A298020    31498303000
1982  A298040     1908746000
1983  A298050   -23744728000
1984  A298380  -117234140000
1985  A298690    20294184000
1986  A299170      -25108000
1987  A299660   -11286321000
1988  A300720    53726823000
1989  A302430     5247720000
1990  A303030       -4049000
1991  A306200     7030156000
1992  A306620          33000
1993  A307070      -24500000
1994  A307160       -9884000
1995  A307180     -131025000
1996  A307280      -28370000
1997  A307750      -26859000
1998  A307870       -2987000
1999  A307950    55228435000
2000  A309930       -7758000
2001  A310200      -11654000
2002  A310840      -10869000
2003  A310870       -7076000
2004  A311270     -130749000
2005  A313750      -13122000
2006  A316140              0
2007  A317030              0
2008  A317320              0

[2009 rows x 2 columns]

In [28]:
corp_total = pd.merge(corp_info, corp_data, how='left', on='종목코드')
corp_total

           종목코드         종목명        현재가          상장주식수  당기순이익
0     AAA005930        삼성전자     46,100  5,969,782,550    NaN
1     AAA000660      SK하이닉스     77,000    728,002,365    NaN
2     AAA005935       삼성전자우     38,100    822,886,700    NaN
3     AAA005380         현대차    128,000    213,668,187    NaN
4     AAA051910        LG화학    333,000     70,592,343    NaN
5     AAA012330       현대모비스    242,500     95,306,694    NaN
6     AAA068270        셀트리온    179,000    128,329,070    NaN
7     AAA035420       NAVER    138,500    164,813,395    NaN
8     AAA055550        신한지주     43,900    474,199,587    NaN
9     AAA005490       POSCO    228,500     87,186,835    NaN
10    AAA017670       SK텔레콤    246,000     80,745,711    NaN
11    AAA051900      LG생활건강  1,240,000     15,618,197    NaN
12    AAA105560        KB금융     43,600    418,111,537    NaN
13    AAA207940    삼성바이오로직스    273,000     66,165,000    NaN
14    AAA015760        한국전력     27,950    641,964,077    NaN
15    AAA028260        삼성물산     92,300    189,690,043    NaN
16    AAA000270         기아차     42,850    405,363,347    NaN
17    AAA018260     삼성에스디에스    212,000     77,377,800    NaN
18    AAA006400       삼성SDI    229,000     68,764,530    NaN
19    AAA096770     SK이노베이션    169,000     92,465,564    NaN
20    AAA034730          SK    221,500     70,360,297    NaN
21    AAA032830        삼성생명     77,000    200,000,000    NaN
22    AAA033780        KT&G     96,800    137,292,497    NaN
23    AAA003550          LG     73,300    172,557,131    NaN
24    AAA000810        삼성화재    262,500     47,374,837    NaN
25    AAA066570        LG전자     68,600    163,647,814    NaN
26    AAA035720         카카오    129,000     83,475,610    NaN
27    AAA036570       엔씨소프트    485,000     21,946,522    NaN
28    AAA086790      하나금융지주     35,100    300,242,062    NaN
29    AAA010950       S-Oil     91,700    112,582,792    NaN
...         ...         ...        ...            ...    ...
2375  AAA002785      진흥기업우B      5,190        857,218    NaN
2376  AAA005965       동부건설우     19,250        225,732    NaN
2377  AAA099350      하나니켈2호      1,305      3,284,000    NaN
2378  AAA001755       한양증권우      8,090        525,000    NaN
2379  AAA245450      씨앤에스링크      2,640      1,579,960    NaN
2380  AAA001065     JW중외제약우     24,800        167,375    NaN
2381  AAA271850        다이오진      1,375      3,000,000    NaN
2382  AAA000995     DB하이텍1우     36,050        112,316    NaN
2383  AAA002787     진흥기업2우B     13,500        294,808    NaN
2384  AAA084440         유비온      1,300      2,997,107    NaN
2385  AAA000545       흥국화재우      4,975        768,000    NaN
2386  AAA092590        럭스피아        517      7,291,098    NaN
2387  AAA001067   JW중외제약2우B     39,350         87,790    NaN
2388  AAA189350          코셋        835      4,000,000    NaN
2389  AAA149940          모다        155     21,160,409    NaN
2390  AAA00781K   코리아써키트2우B      4,100        783,699    NaN
2391  AAA000325      노루홀딩스우     17,200        185,250    NaN
2392  AAA032685       소프트센우     22,000        142,857    NaN
2393  AAA227420    포레스팅블록체인        399      7,587,936    NaN
2394  AAA001527       동양2우B      9,810        308,569    NaN
2395  AAA000547     흥국화재2우B     19,200        153,600    NaN
2396  AAA000227     유유제약2우B     17,900        164,080    NaN
2397  AAA001799     대한제당3우B     21,500        129,656    NaN
2398  AAA223220      아이피몬스터        256     10,787,261    NaN
2399  AAA208890       에듀파트너      1,310      1,990,820    NaN
2400  AAA276240        엘리비젼        997      2,587,200    NaN
2401  AAA001529       동양3우B     27,600         89,722    NaN
2402  AAA247300  인프라웨어테크놀러지        370      6,118,198    NaN
2403  AAA224020     에스케이씨에스        830      2,700,000    NaN
2404  AAA135270     세종머티리얼즈        104      7,146,051    NaN

[2405 rows x 5 columns]

In [30]:
corp_total = corp_info.join(corp_data.set_index('종목코드'), how='outer', on='종목코드')
corp_total

           종목코드       종목명        현재가          상장주식수         당기순이익
0     AAA005930      삼성전자     46,100  5,969,782,550           NaN
1     AAA000660    SK하이닉스     77,000    728,002,365           NaN
2     AAA005935     삼성전자우     38,100    822,886,700           NaN
3     AAA005380       현대차    128,000    213,668,187           NaN
4     AAA051910      LG화학    333,000     70,592,343           NaN
5     AAA012330     현대모비스    242,500     95,306,694           NaN
6     AAA068270      셀트리온    179,000    128,329,070           NaN
7     AAA035420     NAVER    138,500    164,813,395           NaN
8     AAA055550      신한지주     43,900    474,199,587           NaN
9     AAA005490     POSCO    228,500     87,186,835           NaN
10    AAA017670     SK텔레콤    246,000     80,745,711           NaN
11    AAA051900    LG생활건강  1,240,000     15,618,197           NaN
12    AAA105560      KB금융     43,600    418,111,537           NaN
13    AAA207940  삼성바이오로직스    273,000     66,165,000           NaN
14    AAA015760      한국전력     27,950    641,964,077           NaN
15    AAA028260      삼성물산     92,300    189,690,043           NaN
16    AAA000270       기아차     42,850    405,363,347           NaN
17    AAA018260   삼성에스디에스    212,000     77,377,800           NaN
18    AAA006400     삼성SDI    229,000     68,764,530           NaN
19    AAA096770   SK이노베이션    169,000     92,465,564           NaN
20    AAA034730        SK    221,500     70,360,297           NaN
21    AAA032830      삼성생명     77,000    200,000,000           NaN
22    AAA033780      KT&G     96,800    137,292,497           NaN
23    AAA003550        LG     73,300    172,557,131           NaN
24    AAA000810      삼성화재    262,500     47,374,837           NaN
25    AAA066570      LG전자     68,600    163,647,814           NaN
26    AAA035720       카카오    129,000     83,475,610           NaN
27    AAA036570     엔씨소프트    485,000     21,946,522           NaN
28    AAA086790    하나금융지주     35,100    300,242,062           NaN
29    AAA010950     S-Oil     91,700    112,582,792           NaN
...         ...       ...        ...            ...           ...
2404    A297570       NaN        NaN            NaN -7.560000e+05
2404    A298000       NaN        NaN            NaN  2.039486e+10
2404    A298020       NaN        NaN            NaN  3.149830e+10
2404    A298040       NaN        NaN            NaN  1.908746e+09
2404    A298050       NaN        NaN            NaN -2.374473e+10
2404    A298380       NaN        NaN            NaN -1.172341e+11
2404    A298690       NaN        NaN            NaN  2.029418e+10
2404    A299170       NaN        NaN            NaN -2.510800e+07
2404    A299660       NaN        NaN            NaN -1.128632e+10
2404    A300720       NaN        NaN            NaN  5.372682e+10
2404    A302430       NaN        NaN            NaN  5.247720e+09
2404    A303030       NaN        NaN            NaN -4.049000e+06
2404    A306200       NaN        NaN            NaN  7.030156e+09
2404    A306620       NaN        NaN            NaN  3.300000e+04
2404    A307070       NaN        NaN            NaN -2.450000e+07
2404    A307160       NaN        NaN            NaN -9.884000e+06
2404    A307180       NaN        NaN            NaN -1.310250e+08
2404    A307280       NaN        NaN            NaN -2.837000e+07
2404    A307750       NaN        NaN            NaN -2.685900e+07
2404    A307870       NaN        NaN            NaN -2.987000e+06
2404    A307950       NaN        NaN            NaN  5.522844e+10
2404    A309930       NaN        NaN            NaN -7.758000e+06
2404    A310200       NaN        NaN            NaN -1.165400e+07
2404    A310840       NaN        NaN            NaN -1.086900e+07
2404    A310870       NaN        NaN            NaN -7.076000e+06
2404    A311270       NaN        NaN            NaN -1.307490e+08
2404    A313750       NaN        NaN            NaN -1.312200e+07
2404    A316140       NaN        NaN            NaN  0.000000e+00
2404    A317030       NaN        NaN            NaN  0.000000e+00
2404    A317320       NaN        NaN            NaN  0.000000e+00

[4414 rows x 5 columns]

In [31]:
corp_total["EPS"] = corp_total['당기순이익']/corp_total['상장주식수'].str.replace(',','').astype('float')
corp_total

           종목코드       종목명        현재가          상장주식수         당기순이익  EPS
0     AAA005930      삼성전자     46,100  5,969,782,550           NaN  NaN
1     AAA000660    SK하이닉스     77,000    728,002,365           NaN  NaN
2     AAA005935     삼성전자우     38,100    822,886,700           NaN  NaN
3     AAA005380       현대차    128,000    213,668,187           NaN  NaN
4     AAA051910      LG화학    333,000     70,592,343           NaN  NaN
5     AAA012330     현대모비스    242,500     95,306,694           NaN  NaN
6     AAA068270      셀트리온    179,000    128,329,070           NaN  NaN
7     AAA035420     NAVER    138,500    164,813,395           NaN  NaN
8     AAA055550      신한지주     43,900    474,199,587           NaN  NaN
9     AAA005490     POSCO    228,500     87,186,835           NaN  NaN
10    AAA017670     SK텔레콤    246,000     80,745,711           NaN  NaN
11    AAA051900    LG생활건강  1,240,000     15,618,197           NaN  NaN
12    AAA105560      KB금융     43,600    418,111,537           NaN  NaN
13    AAA207940  삼성바이오로직스    273,000     66,165,000           NaN  NaN
14    AAA015760      한국전력     27,950    641,964,077           NaN  NaN
15    AAA028260      삼성물산     92,300    189,690,043           NaN  NaN
16    AAA000270       기아차     42,850    405,363,347           NaN  NaN
17    AAA018260   삼성에스디에스    212,000     77,377,800           NaN  NaN
18    AAA006400     삼성SDI    229,000     68,764,530           NaN  NaN
19    AAA096770   SK이노베이션    169,000     92,465,564           NaN  NaN
20    AAA034730        SK    221,500     70,360,297           NaN  NaN
21    AAA032830      삼성생명     77,000    200,000,000           NaN  NaN
22    AAA033780      KT&G     96,800    137,292,497           NaN  NaN
23    AAA003550        LG     73,300    172,557,131           NaN  NaN
24    AAA000810      삼성화재    262,500     47,374,837           NaN  NaN
25    AAA066570      LG전자     68,600    163,647,814           NaN  NaN
26    AAA035720       카카오    129,000     83,475,610           NaN  NaN
27    AAA036570     엔씨소프트    485,000     21,946,522           NaN  NaN
28    AAA086790    하나금융지주     35,100    300,242,062           NaN  NaN
29    AAA010950     S-Oil     91,700    112,582,792           NaN  NaN
...         ...       ...        ...            ...           ...  ...
2404    A297570       NaN        NaN            NaN -7.560000e+05  NaN
2404    A298000       NaN        NaN            NaN  2.039486e+10  NaN
2404    A298020       NaN        NaN            NaN  3.149830e+10  NaN
2404    A298040       NaN        NaN            NaN  1.908746e+09  NaN
2404    A298050       NaN        NaN            NaN -2.374473e+10  NaN
2404    A298380       NaN        NaN            NaN -1.172341e+11  NaN
2404    A298690       NaN        NaN            NaN  2.029418e+10  NaN
2404    A299170       NaN        NaN            NaN -2.510800e+07  NaN
2404    A299660       NaN        NaN            NaN -1.128632e+10  NaN
2404    A300720       NaN        NaN            NaN  5.372682e+10  NaN
2404    A302430       NaN        NaN            NaN  5.247720e+09  NaN
2404    A303030       NaN        NaN            NaN -4.049000e+06  NaN
2404    A306200       NaN        NaN            NaN  7.030156e+09  NaN
2404    A306620       NaN        NaN            NaN  3.300000e+04  NaN
2404    A307070       NaN        NaN            NaN -2.450000e+07  NaN
2404    A307160       NaN        NaN            NaN -9.884000e+06  NaN
2404    A307180       NaN        NaN            NaN -1.310250e+08  NaN
2404    A307280       NaN        NaN            NaN -2.837000e+07  NaN
2404    A307750       NaN        NaN            NaN -2.685900e+07  NaN
2404    A307870       NaN        NaN            NaN -2.987000e+06  NaN
2404    A307950       NaN        NaN            NaN  5.522844e+10  NaN
2404    A309930       NaN        NaN            NaN -7.758000e+06  NaN
2404    A310200       NaN        NaN            NaN -1.165400e+07  NaN
2404    A310840       NaN        NaN            NaN -1.086900e+07  NaN
2404    A310870       NaN        NaN            NaN -7.076000e+06  NaN
2404    A311270       NaN        NaN            NaN -1.307490e+08  NaN
2404    A313750       NaN        NaN            NaN -1.312200e+07  NaN
2404    A316140       NaN        NaN            NaN  0.000000e+00  NaN
2404    A317030       NaN        NaN            NaN  0.000000e+00  NaN
2404    A317320       NaN        NaN            NaN  0.000000e+00  NaN

[4414 rows x 6 columns]

In [32]:
corp_total = corp_total[pd.notnull(corp_total['EPS'])]
corp_total = corp_total[pd.notnull(corp_total['현재가'])]
corp_total

Empty DataFrame
Columns: [종목코드, 종목명, 현재가, 상장주식수, 당기순이익, EPS]
Index: []

In [33]:
corp_total["PER"] = corp_total["현재가"].str.replace(",","").astype('int')/corp_total["EPS"]
corp_total

Empty DataFrame
Columns: [종목코드, 종목명, 현재가, 상장주식수, 당기순이익, EPS, PER]
Index: []

In [34]:
corp_filter = corp_total[(corp_total["PER"]>=12) & (corp_total["PER"]<=15)]
corp_filter

Empty DataFrame
Columns: [종목코드, 종목명, 현재가, 상장주식수, 당기순이익, EPS, PER]
Index: []

In [35]:
corp_total.query('PER >=12 & PER <=15')

Empty DataFrame
Columns: [종목코드, 종목명, 현재가, 상장주식수, 당기순이익, EPS, PER]
Index: []

In [36]:
corp_filter.sort_values(by='PER')

Empty DataFrame
Columns: [종목코드, 종목명, 현재가, 상장주식수, 당기순이익, EPS, PER]
Index: []

In [37]:
corp_filter.sort_values(by='PER', ascending=False)

Empty DataFrame
Columns: [종목코드, 종목명, 현재가, 상장주식수, 당기순이익, EPS, PER]
Index: []

In [38]:
corp_filter.sort_values(by=['PER','EPS'], ascending=False)

Empty DataFrame
Columns: [종목코드, 종목명, 현재가, 상장주식수, 당기순이익, EPS, PER]
Index: []